<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.1" targetFramework="net452" />
  <package id="ServiceModelContrib" version="1.0.1" targetFramework="net45" />
  <package id="ServiceModelContrib.Testing" version="1.0.1" targetFramework="net45" />
  <package id="System.ServiceModel.Primitives" version="4.9.0" targetFramework="net452" />
</packages>